body {
  background: #ccc; }
  body p {
    color: #fff;
    font-size: 16px;
    background: #003259; }

span {
  color: red;
  font-size: 80px; }

.box {
  height: 100px;
  width: 100px;
  background: -webkit-linear-gradient(orangered, yellow);
  background: -o-linear-gradient(orangered, yellow);
  background: -moz-linear-gradient(orangered, yellow);
  background: linear-gradient(orangered, yellow);
  box-shadow: 0 5px #036;
  display: inline-block;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }
