span{
	color: red;
    font-size: 36px;
}

.box{
	height: 100px;
	width: 100px;
	background: -webkit-linear-gradient(orangered, yellow);
	background: -o-linear-gradient(orangered, yellow);
	background: -moz-linear-gradient(orangered, yellow);
	background: linear-gradient(orangered, yellow);
	border-radius: 100%;
	box-shadow: 0 5px #036;
	display: inline-block;

}